In [22]:
import osmnx as ox
# Get the data, add missing data and divide the graph into nodes and edges
graph = ox.graph_from_place("Madrid, Spain", network_type="drive")
graph = ox.add_edge_speeds(graph)
graph = ox.add_edge_travel_times(graph)
nodes, edges = ox.graph_to_gdfs(graph)

# Get the Low Emission Zone (LEZ) geometry
lez_geodataframe = ox.features_from_place("Madrid, Spain", {"boundary": "low_emission_zone" })
lez_polygon = lez_geodataframe.unary_union

nodes["lez"] = nodes.geometry.within(lez_polygon)

C:\Users\jcela\AppData\Local\Temp\ipykernel_17248\3621577120.py:10: DeprecationWarning: The 'unary_union' attribute is deprecated, use the 'union_all()' method instead.
  lez_polygon = lez_geodataframe.unary_union

In [31]:
nodes.head()

,y,x,highway,street_count,ref,junction,geometry,lez
osmid,,,,,,,,
171946,40.421247,-3.684443,traffic_signals,3,NaN,NaN,POINT (-3.68444 40.42125),False
171951,40.417360,-3.688989,NaN,4,NaN,NaN,POINT (-3.68899 40.41736),False
171952,40.414991,-3.688980,NaN,3,NaN,NaN,POINT (-3.68898 40.41499),False
171953,40.412775,-3.688901,NaN,4,NaN,NaN,POINT (-3.6889 40.41277),False
171954,40.409469,-3.688799,NaN,3,NaN,NaN,POINT (-3.6888 40.40947),False

In [32]:
edges.head()

                           osmid      highway lanes maxspeed  \
u      v          key
171946 26513145   0    807334397    secondary     4       50
171951 1209331009 0    104864843  residential   NaN      NaN
       26486636   0    553113575     tertiary     3       50
171952 26486617   0    317302445     tertiary     3      NaN
171953 2681222064 0     28401583  residential   NaN      NaN

                                       name  oneway reversed     length  \
u      v          key
171946 26513145   0      Calle de Velázquez    True    False  43.951501
171951 1209331009 0      Calle Juan de Mena    True    False  18.732956
       26486636   0    Calle de Alfonso XII    True    False  80.651073
171952 26486617   0    Calle de Alfonso XII    True    False  26.250586
171953 2681222064 0          Calle Espalter    True    False  18.835462

                                                                geometry  \
u      v          key
171946 26513145   0    LINESTRING (-3.68444 40.42125, -3.68444 40.421...
171951 1209331009 0    LINESTRING (-3.68899 40.41736, -3.68885 40.41749)
       26486636   0    LINESTRING (-3.68899 40.41736, -3.68903 40.416...
171952 26486617   0    LINESTRING (-3.68898 40.41499, -3.68897 40.41475)
171953 2681222064 0      LINESTRING (-3.6889 40.41277, -3.68876 40.4129)

                       speed_kph  travel_time junction bridge width access  \
u      v          key
171946 26513145   0    50.000000     3.164508      NaN    NaN   NaN    NaN
171951 1209331009 0    38.757236     1.740027      NaN    NaN   NaN    NaN
       26486636   0    50.000000     5.806877      NaN    NaN   NaN    NaN
171952 26486617   0    45.319336     2.085249      NaN    NaN   NaN    NaN
171953 2681222064 0    38.757236     1.749548      NaN    NaN   NaN    NaN

                       ref tunnel est_width
u      v          key
171946 26513145   0    NaN    NaN       NaN
171951 1209331009 0    NaN    NaN       NaN
       26486636   0    NaN    NaN       NaN
171952 26486617   0    NaN    NaN       NaN
171953 2681222064 0    NaN    NaN       NaN

In [ ]:
edges.

In [35]:
edges["highway"].value_counts().sort_values(ascending=False)

highway
residential                               42046
tertiary                                   7212
secondary                                  3561
primary                                    3279
living_street                              1483
motorway_link                              1303
unclassified                                800
motorway                                    696
primary_link                                169
trunk                                       154
tertiary_link                               144
secondary_link                              136
trunk_link                                   62
[living_street, residential]                 40
[residential, unclassified]                  21
[motorway_link, motorway]                    19
[tertiary, residential]                      13
[motorway_link, residential]                  8
[motorway_link, unclassified]                 8
[tertiary, secondary]                         6
[motorway_link, tertiary]                     6
[trunk, motorway]                             6
[motorway_link, primary_link]                 5
[motorway_link, secondary]                    5
[motorway_link, primary]                      5
[tertiary, tertiary_link]                     5
[tertiary, motorway_link]                     3
[tertiary_link, residential]                  3
[primary, primary_link]                       3
[secondary, residential]                      2
[primary, motorway]                           2
busway                                        2
[primary, residential]                        2
[motorway_link, tertiary_link]                2
[trunk, trunk_link]                           2
[trunk_link, tertiary_link]                   2
[trunk_link, motorway_link]                   1
[trunk_link, residential]                     1
[trunk_link, trunk]                           1
[primary_link, residential]                   1
[motorway_link, primary, primary_link]        1
[secondary, primary_link]                     1
[trunk, tertiary, trunk_link]                 1
[trunk_link, tertiary, trunk]                 1
[secondary, secondary_link]                   1
Name: count, dtype: int64

In [36]:
edges[edges["highway"] == "motorway_link"].head()

                                        osmid        highway   lanes maxspeed  \
u        v          key
20952888 4570051419 0                 3996191  motorway_link       2       70
         2536930913 0               246686140  motorway_link       1      NaN
20952890 21068371   0                 4259081  motorway_link       1      NaN
20953250 21525909   0     [4298507, 15220435]  motorway_link       1       50
20953271 25377815   0    [246716875, 7991205]  motorway_link  [2, 1]       70

                        name  oneway reversed      length  \
u        v          key
20952888 4570051419 0    NaN    True    False   45.630722
         2536930913 0    NaN    True    False  144.522174
20952890 21068371   0    NaN    True    False   44.409610
20953250 21525909   0    NaN    True    False  548.393223
20953271 25377815   0    NaN    True    False  144.108520

                                                                  geometry  \
u        v          key
20952888 4570051419 0     LINESTRING (-3.59659 40.4293, -3.59637 40.42968)
         2536930913 0    LINESTRING (-3.59659 40.4293, -3.59641 40.4294...
20952890 21068371   0    LINESTRING (-3.59616 40.43013, -3.59606 40.43052)
20953250 21525909   0    LINESTRING (-3.66359 40.41976, -3.66331 40.419...
20953271 25377815   0    LINESTRING (-3.63081 40.41488, -3.63049 40.414...

                         speed_kph  travel_time junction bridge width access  \
u        v          key
20952888 4570051419 0    70.000000     2.346723      NaN    NaN   NaN    NaN
         2536930913 0    60.404726     8.613230      NaN    NaN   NaN    NaN
20952890 21068371   0    60.404726     2.646723      NaN    NaN   NaN    NaN
20953250 21525909   0    50.000000    39.484312      NaN    NaN   NaN    NaN
20953271 25377815   0    70.000000     7.411295      NaN    NaN   NaN    NaN

                         ref tunnel est_width
u        v          key
20952888 4570051419 0    NaN    NaN       NaN
         2536930913 0    NaN    NaN       NaN
20952890 21068371   0    NaN    NaN       NaN
20953250 21525909   0    NaN    NaN       NaN
20953271 25377815   0    NaN    NaN       NaN

In [43]:
edges[edges["osmid"].apply(lambda x: isinstance(x, list))][["osmid"]]

                                                                    osmid
u           v           key
20952890    20952893    0                 [172398968, 3996190, 172398943]
20952927    32893642    0                         [1379847835, 511326143]
20953197    20953196    1               [7642969, 1184792073, 1184792209]
20953221    1339845178  0                          [1184792226, 24769406]
20953226    26067814    0    [551051371, 269291945, 909056211, 335713716]
...                                                                   ...
12604385630 494343071   0                         [1235699553, 125350258]
12608061413 11004108439 0    [1235699552, 40700129, 1184712532, 31019895]
12610788737 316778769   0                          [28812882, 1362060846]
12625817249 306102505   0                           [27880411, 910253716]
12676233014 77851023    0                        [1368703010, 1215634125]

[4821 rows x 1 columns]